.rightbarContainer{
    flex:3.8;
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: sticky;
    top:50px
}




.rightbarWrapper{
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    flex-direction: column;
    padding-left: 10px;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayGift{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.rightbarAd{
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.onlineFriendsList{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

